[Unit]
Description=checkra1npythongui startup service

[Service]
Type=idle
ExecStart=/usr/bin/python3 /program.py
User=root

[Install]
WantedBy=multi-user.target
