 [Unit]
 Description=checkra1npython
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/python3 /home/$HOME/checkra1npython/program.py

 [Install]
 WantedBy=multi-user.target
